@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;

// .frame {
//   top: 35%;
//   width: 150px;
//   height: 150px;
//   border-radius: 2px;
//   box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	
// }


// .center {
// 	height: 299px;
// 	width: 420px;
// 	border-radius: 3px;
// 	overflow: hidden;
// 	box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
// 	background: rgb(172,203,222);
// background: linear-gradient(90deg, rgba(172,203,222,1) 0%, rgba(20,154,223,0.5298494397759104) 100%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
// }
	


		
		
	
	
	
	
	
	
	


// .stats {
// 	float: left;
	
// 	.box {
// 		box-sizing: border-box;
// 		width: 200px;
// 		height: 99px;
// 		text-align: center;
// 		padding-top: 28px;
// 		transition: all .4s ease-in-out;
		
// 		&:hover {
// 			background: rgb(190, 255, 201);
// 			cursor: pointer;
			
// 		}
		
// 		&:nth-child(2) {
// 			margin: 1px 0;
// 		}
		
// 	}
	
// 	span {
// 		display: block;
// 	}
	
// 	.value {
// 		font-size: 18px;
// 		font-weight: 600;
// 	}
	
// 	.parameter {
// 		font-size: 11px;
// 	}
	
// }

body {
	font-family: tahoma;
  }

  
  .our-team {
	padding: 30px 0 40px;
	margin-bottom: 30px;
	background-color: #f7f5ec;
	text-align: center;
	overflow: hidden;
	position: relative;
  }
  .imge-cont{
	  width: 20%;
  }
  
  .our-team .picture {
	display: inline-block;
	height: 130px;
	width: 130px;
	margin-bottom: 50px;
	z-index: 1;
	position: relative;
  }
  
  .our-team .picture::before {
	content: "";
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #1369ce;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.9;
	transform: scale(3);
	transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
	height: 100%;
  }
  
  .our-team .picture::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #1369ce;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
  }
  
  .our-team .picture img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
  }
  
  .our-team .title {
	display: block;
	font-size: 15px;
	color: #4e5052;
	text-transform: capitalize;
  }
  
  .our-team .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #1369ce;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
	bottom: 0;
  }
  
  .our-team .social li {
	display: inline-block;
  }
  
  .our-team .social li span{
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.3s ease 0s;
	text-decoration: none;
  }
  
  .our-team .social li span:hover {
	color: #1369ce;
	background-color: #f7f5ec;
  }
  